.button {
  all: unset;
  background-image: url(../../../static/img/mainrectangle.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  height: 99px;
  position: relative;
  width: 411px;
}

.button .button-text {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 99px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 411px;
}
