.page {
  background-color: #000000;
  height: 1080px;
  width: 1920px;
}

.page .app-rectangle {
  background-color: #d9d9d9;
  border-radius: 58px;
  height: 1080px;
  left: 676px;
  position: relative;
  width: 569px;
}
